<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>10-CFBroadcastView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8664540A1C2FC72B005B58B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>866454231C2FC72B005B58B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8664542E1C2FC72C005B58B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
